
@font-face{
    font-family: 'TTHoves';
    src: url(../fonts/TTHoves-Medium.woff);
    font-weight: 500;
}
@font-face{
    font-family: 'TTHoves';
    src: url(../fonts/TTHoves-DemiBold.woff);
    font-weight: 600;
}
@font-face{
    font-family: 'NanumSquare';
    src: url(../fonts/NanumSquareOTFRegular.woff);
    font-weight: 400;
}
@font-face{
    font-family: 'NanumSquare';
    src: url(../fonts/NanumSquareOTFBold.woff);
    font-weight: 700;
}